html{
    scroll-behavior: smooth;
}

body{
  font-family:"Indie Flower", cursive;
  color:white;
}

.container-fluid{
  padding:0;
}

/* Navigation Bar */
#title{
  background-color: #9dab86;
}

.title-header{
  font-family: "indie Flower", cursive;
  font-size: 3rem;
  padding-left: 5%;
}

.nav-link{
  font-size: 1.5rem;
}


/* Food Picture Carousel */

.carousel-text-body{
  padding: 2% 20%;
  text-align:center;
  background-color: #9dab86;
}

.carousel-text{
  font-size:4rem;
}

.carousel-inner{
height:500px
}
.carousel-item{
min-height:300px;
}

@media(max-width:500px){
.carousel .carousel-inner{
height:auto;
 }
}

/* Recipes */

#recipe-1{
  background-color:#e6a157;
}

.body-text{
  text-align:center;
  color:white;
}

.recipe-body{
  text-align:center;
  padding: 4% 0;
}

.recipe-img{
  border-radius:10%;
}

.recipe-text-body{
  padding: 15% 5%;
}

#recipe-2{
  background-color: #eb8242;
}

#recipe-3{
  background-color:#c9753d;
}

/* Footer */

#footer{
  color:grey;
  text-align:center;
  padding:2%;
}

.social-icon{
  padding: 10px;
  color:grey;
}

/* Recipes Page */

#recipes{
  background-color: #e6a157;
  padding:5%;
  text-align:center;
}

.recipes-title{
  padding-bottom: 5%;
}

.card{
  background-color: #e6a157;
  border:none;

}

.card-header{
  background-color: #eb8242;
  border: none;
  border-radius: 10%;
  color:white;
}

.card-header:hover{
  color:white;
}

.card-body{
  font-size: 1.5rem;
}

.recipe-header{
  padding-top: 2%;
}
